---
import '../../shared.css'
import { getBlogs } from '../../db'
import Main from '../../layouts/Main.astro'
import { type BlogType } from '../../models'
import { calculateReadingTime, getDate } from '../../utils'

export async function getStaticPaths() {
  const blogs = await getBlogs()
  return blogs.map(blog => ({ params: { id: blog.id }, props: { blog } }))
}

interface Props {
  blog: BlogType
}

const { blog } = Astro.props
---

<Main title={'Стаття ' + blog.id} description={blog.title} preview_image={blog.img_url}>
  <div class="blog-wrapper">
    <div class="blog">
      <img src={blog.img_url} alt="blog image" />
      <h1>{blog.title}</h1>
      <h4 class="sub-title">
        <span>Час на читання {calculateReadingTime(blog)} хв.</span>
        <span>Стаття була оновлена {getDate(blog)}</span>
      </h4>
      <div set:html={blog.content_html} />
    </div>
  </div>
</Main>

<style>
  .blog-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    border-radius: 5px;
    background-color: #1f2937;
    padding: 40px;
  }
  .blog img {
    width: 50%;
    height: auto;
    align-self: center;
  }
  .blog h1,
  .blog h2,
  .blog h3,
  .blog h4 {
    align-self: center;
    margin-top: 30px;
  }
  .blog .sub-title {
    margin-top: 0;
    font-size: 14px;
    color: #9ca3af;
  }
</style>
