---
import type { BlogType } from '../models'
import { calculateReadingTime, getDate } from '../utils'

interface Props {
  blog: BlogType
}

const { blog } = Astro.props
---

<div class="card">
  <div class="main">
    <div>
      <h3 class="title">{blog.title}</h3>
      <p>{blog.description}</p>
    </div>

    <div class="img-wrapper">
      <img src={blog.img_url} alt="card image" />
    </div>
  </div>

  <p class="keywords">{blog.category_keywords.map(keyword => <span>#{keyword}</span>)}</p>

  <div class="footer">
    <div class="sub-footer">
      <time datetime={blog.updated_at}>{getDate(blog)}</time>
      <p class="reading-time">На читання {calculateReadingTime(blog)} хв.</p>
    </div>

    <a class="link" href={'/blog/' + blog.id}>Детальніше</a>
  </div>
</div>

<style>
  .card {
    padding: 40px;
    background-color: #1f2937;
    border-radius: 5px;
    max-width: 600px;
    flex: 1;
  }
  .title {
    margin-top: 0;
  }
  .link {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #a78bfa;
    text-decoration: none;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
  }
  .sub-footer {
    display: flex;
    align-items: end;
    gap: 20px;
    color: #9ca3af;
  }
  .reading-time {
    font-size: 14px;
    margin: 0;
  }
  .keywords {
    display: flex;
    gap: 20px;
    color: #9ca3af;
    font-size: 14px;
  }
  .main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .img-wrapper {
    width: 130px;
  }
  .img-wrapper img {
    width: 100%;
    height: auto;
  }
</style>
